# Required Python packages get listed here, one per line.
# Reccomended to lock the version number to avoid unexpected changes.

runpod==0.10.0
opencv-python==4.7.0.72
git+https://github.com/openai/CLIP.git
xformers==0.0.20
git+https://github.com/huggingface/diffusers@8e8954bd15d3a3c36fbbaa37c978a8b5b8379f9f
transformers==4.30.2
accelerate==0.20.3
triton==2.0.0